body {
  background-color: green;
}
h1 {
  font-family: Rubik Iso;
  font-size: 45px;
  text-align: center;
  color: white;
}
h2,
li {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  color: white;
  font-size: 15px;
}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  border: 5px groove darkslategray;
  margin: 0 auto;
}

.grid div {
  height: 37px;
  width: 37px;
  border:groove;
}

/* .bomb {
  background-color: orangered;
} */

.clicked-square {
  background-color: blue;
}

.left-container {
  height: 390px;
  width: 350px;
  border: 5px groove darkslategray;
  line-height: 19px;
  padding: 5px;
  position: absolute;
  top:165px;
  left:9.5%;
} 
.right-container {
  width: 200px;
  border: 5px groove darkslategray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 400px;
  top:165px;
  right: 300px;
}

.mines-left,
.helpButton,
.resetButton,
.timer {
  height: 40px;
  width:150px;
  margin: auto;
  font-size: 16px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

