body {
  background-color: green;
}
h1 {
  font-family: Rubik Iso;
  font-size: 45px;
  text-align: center;
  color: white;
}
h2,
li {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;

  color: white;
  font-size: 15px;
}

.grid {
  height: 400px;
  width: 400px;
  display: flex;
  flex-wrap: wrap;
  background-color: lightgray;
  border: 3px solid darkslategray;
  margin: 0 auto;
}

.grid div {
  height: 40px;
  width: 40px;
}
/* .tile-clicked-color{
  background: darkolivegreen;
} */

/* .bomb {
  background-color: orangered;
} */

.left-container {
  height: 400px;
  width: 350px;
  border: 3px solid darkslategray;
  line-height: 19px;
  padding: 5px;
  position: absolute;
  top:166px;
}
.right-container {
  height: 400px;
  border: 3px solid darkslategray;
  display: inline-block;
  position: absolute;
  top:166px;
  right:150px;
  align-items: center;
}

.time,
.mines-left,
.help,
.reset {
  height: 30px;
  width: 100px;
  justify-content: space-between;
  align-items: center;
  margin: 30px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  /* hover: lightgreen; */
}

.clicked {
  background-color: blue;
}
